.parrafo{
    text-align: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .TarjetaDeCarrito{
    display: grid;
    grid-template-columns: repeat(3, 310px);
    justify-content: center; 
    flex-wrap: wrap;
    text-align: center;
  }
  
  .card{
    background-color: rgb(255, 255, 255);
    margin: 30px;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    border-radius: 5%;
    box-shadow: 0px 0px 11px 0px rgb(0 0 0 / 50%);
    height: 380px;
  }

  .card a{
    margin-bottom: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right:20px;
    padding-left:20px;
    background-color: rgb(0, 162, 255);
    border-radius: 20px;
  }
  .card a:hover{
    background-color: rgb(0, 195, 255);
    color: rgb(0, 0, 0);
  }
  .card:hover {
    transform: scale(1.1);
  }

  .card h4{
    font-size: 20px;
    color: rgb(13, 56, 112);
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .card p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .card img{
    margin-bottom: 20px;
  }