.checkout {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .form-checkout {
    width: 254px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
  }
  .form-checkout input {
    font-size: 25px;
    border-radius: 10px;
    margin-bottom: 25px;
  }
  .form-checkout label {
    margin-left: 10px;
  }
  .button-form {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(53, 53, 53);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    width: 116px;
    border-radius: 13px;
    font-size: 16px;
    padding: 6px 0;
    margin: 10px 0;
    text-align: center;
  }

  .button-form:hover {
    background-color: #0070cc;
    color: rgb(255, 255, 255);
  }

  .butoon1{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(53, 53, 53);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    width: 116px;
    border-radius: 13px;
    font-size: 16px;
    padding: 6px 0;
    margin-top: 30px;
    text-align: center;
  }
  .butoon1:hover{
    background-color: #0070cc;
    color: rgb(255, 255, 255);
  }
  .order-completed{
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;

  }
  .order-completed h2{
    font-size: 25px;

  }
  .order-completed p{
    font-size: 18px;
    margin-top: 10px;

  }